<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--    심박수 데이터에 접근할 수 있는 권한-->
    <uses-permission android:name="android.permission.health.READ_HEART_RATE"/>
    <uses-permission android:name="android.permission.health.WRITE_HEART_RATE"/>
    <!--    걸음수 데이터에 접근할 수 있는 권한-->
    <uses-permission android:name="android.permission.health.READ_STEPS"/>
    <uses-permission android:name="android.permission.health.WRITE_STEPS"/>
    <!--    전체소모칼로리 데이터에 접근할 수 있는 권한-->
    <uses-permission android:name="android.permission.health.READ_TOTAL_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.health.WRITE_TOTAL_CALORIES_BURNED" />
    <!--    오늘 걸은 거리 데이터에 접근할 수 있는 권한-->
    <uses-permission android:name="android.permission.health.READ_DISTANCE" />
    <uses-permission android:name="android.permission.health.WRITE_DISTANCE" />
    <!--    전체소모칼로리 데이터에 접근할 수 있는 권한-->
    <uses-permission android:name="android.permission.health.READ_ACTIVE_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.health.WRITE_ACTIVE_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.health.PERMISSION_READ_HEALTH_DATA_HISTORY" />
    <uses-permission android:name="android.permission.health.READ_EXERCISE_ROUTESREAD_EXERCISE_ROUTES" />
    <!--    산소포화도 데이터에 접근할 수 있는 권한-->
    <uses-permission android:name="android.permission.health.READ_OXYGEN_SATURATION" />
    <uses-permission android:name="android.permission.health.WRITE_OXYGEN_SATURATION" />
    <!--    수면 데이터에 접근할 수 있는 권한-->
    <uses-permission android:name="android.permission.health.READ_SLEEP" />
    <uses-permission android:name="android.permission.health.WRITE_SLEEP" />


    <!-- 헬스커넥트 앱이 설치되어 있는지 확인하는 쿼리 -->
    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>

    <!-- worker 권한-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.health.CONNECT" />

    <!-- AndroidManifest.xml -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>